
.item_box{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_box_left{
    /* float: left; */
}
.item_big_img{
    margin-bottom:15px;
}
.item_big_img img{
    width: 510px;
    height: 510px;
}
.item_small_box{
    width: 510px;
    text-align: center;
}
.item_small_box img{
    width: 80px;
    height: 80px;
    margin-right: 5px;
}
.item_small_box img.active{
    border: 1px solid;
    box-sizing: border-box;
}
.review_box{
    width: 100%;
    margin-top: 50px;
    padding: 0px 15px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.review_box div{
    height: 20px;
    line-height: 24px;
    box-sizing: border-box;
}
.review_title{
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}
.review_star{
    width: 110px;
    height: 20px;
    background: url(../img/olive_young/review_star.png) left center no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.review_point{
    color: #555;
    font-size: 20px;
    font-weight: 800;
    margin-right: 5px;
}
.review_count{
    color: #555;
    font-size: 18px;
    font-weight: 400;
}
.social_media_icon{
    position: absolute;
    right: 0;
    top: -7px;
    width: 72.28px;
    height: 33.81px !important;
    background: url(../img/olive_young/social_media_icon.png) no-repeat;
    background-position: 50%;
}
.item_box_right{
    width: 450px;
    /* background-color: red; */
    /* float: right; */
    font-size: 16px;
    font-weight: 400;

}
.brand{
    margin-bottom: 10px;
}
.right_sign{
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}
.item_box_title{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}
/***/

.item_price_box{
    width: 100%;
    text-align: left;
    
    height: 70px;
}

.original_price{
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
    text-decoration:line-through;
    padding-right: 5px;

}
.item_price{
    color: #e02020;
    font-size: 28px;
    font-weight: 800;
    vertical-align: baseline;
}
.item_events{
    margin-top: 10px;
    width: 100%;
    display: flex;
    color: white;
    font-size: 12px;
    font-weight: 400;
    justify-content: left;
}
.item_events > div {
    text-align: center !important;
    line-height: 24px;
}
.item_events_sale{
    width: 60px;
    height: 24px;
    background-color: salmon;
    border-radius: 13px;
}
.item_events_today{
    width: 60px;
    height: 24px;
    background-color: hotpink;
    border-radius: 13px;

}
.item_events_coupon{
    width: 60px;
    height: 24px;
    background-color: #82dc28;
    border-radius: 13px;
}
.viewing{
    font-size: 14px;
    margin-top: 5px;
    background: url(../img/olive_young/viewing.png) no-repeat center left;
    background-size: 18px 12px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 17px;
    line-height: 20px;
    color: #f27370;
}
.delivery_txt{
    font-size: 15px;
    color: #555;
    position: relative;
    margin-bottom: 10px;
}
.delivery_txt td:first-child{
    width: 66px;
    vertical-align: top;
    font-weight: 700;
}
.delivery div:first-child{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}
td:first-child::after{
    position: absolute;
    left: 66px;
    top: 5px;
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #d8d8d8;
}
td:last-child{
    width: 235.75px;
}
.item_long_bar{
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}
.pay_adv{
    font-size: 15px;
    color: #555;

}
.item_count_box{
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    height: 60px;
    position: relative;
    border-radius: 5px;
}
.item_count_box > div:first-child{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.item_count{
    width: auto;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.item_count input{
    border: none;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.item_qty{
    width: 60px;
    height: 28px;
    text-align: right;
}
.plus, .minus{
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}
.plus{
    border-radius: 0px 5px 5px 0px;
}
.minus{
    border-radius: 5px 0px 0px 5px
}
.item_sum_box{
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    color: #e02020;
    height: 50px;
    overflow: hidden;
    border-bottom: 2px solid;
    font-size: 18px;
}
.item_sum_txt{
    float: left;
    font-weight: 700;
}
.item_sum_price{
    float: right;
    font-weight: 500;
}
.check_box{
    padding: 17px 0px;
    font-size: 16px;
    display: flex;
    gap: 7px;
    align-items: center;
}
.check_box_block{
    width: 20px;
    height: 20px;
    background-color: #f8f8f8;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.check_box_block:hover{
    cursor: pointer;
}
.purchase_box{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}
.purchase_box div{
    height: 65px;
    text-align: center;
    line-height: 65px;
}
.my_bag{
    width: 136px;
    color: #f27370;
    border: 1px solid;
    box-sizing: border-box;
}
.purchase_directly{
    width: 136px;
    background-color: #f27370;
    color: #fff;
}
.gift{
    width: 76px;
    background: #f27370 url(../img/olive_young/gift.png) center no-repeat;
}
.heart{
    border: 1px solid #e5e5e5;
    width: 76px;
    box-sizing: border-box;
    background: url(../img/olive_young/heart.png) no-repeat center;
}
.freebie{
    margin-top: 40px;
    width: 100%;
    background: #f6f7f9;
    padding: 25px 30px;
    color: #99a1a8;
    font-size: 13px;
    position: relative;
}
.freebie > div:first-child{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
}
.freebie > div:nth-child(2){
    font-weight: 700;  
    margin-bottom: 10px; 
}
.freebie >div:nth-child(3){
    font-size: 15px;
    text-decoration: line-through;
}
.freebie_more{
    position: absolute;
    right: 30px;
    bottom: 25px;
}
.find_box{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 20px 0px;
    font-size: 16px;
    word-spacing: .5px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dadde0;
    margin-top: 18px;
    border-radius: 5px;
}
.find_box > div{
    height: 31px;
    line-height: 31px;
    width: 50%;
    margin-left: 40px;
}
.find_shop{
    background: url(../img/olive_young/shop_img.png) left no-repeat;
    background-size: 22px 22px;
    padding-left: 30px;
}
.find_brand{
    background: url(../img/olive_young/mini_logo.png) left no-repeat;
    background-size: 86px 48px;
    padding-left: 94px;
}
.find_long_bar{
    width: 1px !important;
    background-color: #d8d8d8;
}
/*below*/
.item_box_below{
    margin-top: 30px;
    width: 100%;
}
.below_title{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    display: flex;
}
.below_title div{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #82dc28;
}
.below_title > div.active{
    border: 2px solid #82dc28;
    border-bottom: none;
}

.p1{
    margin-top: 50px;
    padding: 0px 135px;
    box-sizing: border-box;
}
.p1 img {
    width: 100%;
}

.below_pan.active{
    display: flex;
}
.p2{
    margin-top: 50px;
    border-top: 2px solid;
    display: flex;
}
.p2_face{
    width: 279px;
    height: 231px;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.face_img{
    width: 100px;
    height: 100px;
    background: url(../img/olive_young/face_grade.png);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.face_name{
    width: 100%;
    position: absolute;
    top: 75%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.p2_star{
    width: 380px;
    padding-top: 43px;
    border-bottom: 1px solid #ddd;
}
.p2_star_count{
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.p2_star_point{
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}
.p2_star_point div:last-child{
    font-size: 25px;
}
.p2_star_star{
    width: 100%;
    height: 25px;
    background: url(../img/olive_young/review_star.png) no-repeat center;
    background-size: contain;
}

.p2_graph{
    border-bottom: 1px solid #ddd;   
}
.graph_box{
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
}
.graph_area{
    text-align: center;
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
}
.graph_bar{
    margin: 5px auto;
    width: 8px;
    height: 100px;
    background-color: #e5e5e5;
    border-radius: 5px;
    position: relative;
}
.bar_height{
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f27370;
}
.graph_area:first-child .bar_height{
    height: 89%;
}
.graph_area:nth-child(2) .bar_height{
    height: 9%;
}
.graph_area:nth-child(3) .bar_height{
    height: 2%;
}



/*

*/

.below_pan{
    width: 100%;
    display: none;
}